@{
    @*To view this page go https://localhost:7274/category/index*@
    ViewData["Title"] = "Category List";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page for Category list.</p>

<table class="table table-bordered table-striped">
    <tr>
        <th>
            Category Name
        </th>
        <th>
            Display Order
        </th>
    </tr>
</table>
